# Vivado
*.jou
*.log
*.str
*.pb
*.debug
*.backup
*.cache
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.gen/
*.xpr

# Simulation
*.wlf
*.vcd
*.vpd
*.fsdb

# Compiled files
*.o
*.out
*.exe

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary
*.tmp
*.bak
